* {
  box-sizing: border-box;
}

:root {
  --white: #f5f7fb;
  --primary: #293264;
  --secondary: #d6dbf5;
  --correct: #94d7a2;
  --wrong: #f8bcbc;
}

html {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
}

button,
select {
  font-family: "Karla", sans-serif;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

select {
  background-color: var();
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  height: auto;
}

h1 {
  font-size: 2.8rem;
}

form,
body,
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 20px;
}

main {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main #main-btn {
  justify-self: center;
}

main h1 {
  text-align: center;
}

.question-container {
  padding: 10px;
  border-bottom: 1px solid var(--secondary);
}

.btn-container {
  padding: 1.4rem;
}

.answer-container,
.btn-container {
  display: flex;
  gap: 25px;
}

.answer-btn {
  border: 1px solid var(--primary);
}

#main-btn,
#topic-btn,
#generate-btn {
  background-color: var(--secondary);
  width: fit-content;
}

button:disabled {
  color: var(--primary);
}

#main-btn:hover,
#topic-btn:hover,
#generate-btn:hover {
  background-color: var(red);
  width: fit-content;
}
