* {
  box-sizing: border-box;
}

:root {
  --white: #f5f7fb;
  --primary: #293264;
  --secondary: #d6dbf5;
  --active: #aab5ed;
  --correct: #94d7a2;
  --wrong: #f8bcbc;
}

html {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
}

button,
select {
  font-family: "Karla", sans-serif;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.4rem;
}

select {
  background-color: var();
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

main h1 {
  text-align: center;
}

form,
body,
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 20px;
}

.question-container {
  padding: 1rem;
  margin: 1rem;
  border-bottom: 1px solid var(--secondary);
}

.btn-container {
  padding: 1.4rem;
  display: flex;
  gap: 10px;
}

.answer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.answer-btn {
  border: 1px solid var(--primary);
}

button:disabled {
  color: var(--primary);
}

.answer-btn:hover:enabled {
  background-color: var(--secondary) !important;
}

.answer-btn:active:enabled {
  background-color: var(--active) !important;
}

#main-btn,
#topic-btn,
#generate-btn {
  background-color: var(--secondary);
  width: fit-content;
}

#main-btn:hover,
#topic-btn:hover,
#generate-btn:hover {
  opacity: 0.8;
}

@media screen {
  html {
    font-size: 100%;
  }
}
